.contactContainer {
  display: flex;
  flex-direction: column;
  background: var(--deep-red);
  padding: 40px;
}
.contactTitle {
  font-size: 3rem;
  font-weight: 1000;
}
.divider {
  border-top-color: var(--black);
  border-top-width: 0.5rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.input {
  margin-bottom: 3rem;
  width: 30%;
}
