.nav-container {
  margin-top: 50%;
  @media screen and (max-width: 600px) {
    margin-top: 2rem;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-link {
  color: var(--grey);
  display: flex;
  justify-content: center;
  border-bottom: 0.2px solid var(--deep-red);
  &:hover {
    color: var(--deep-blue);
  }
}

.icon {
  &:hover {
    color: var(--deep-blue);
  }
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  @media screen and (max-width: 600px) {
    margin-top: 3rem;
  }
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.login-container {
  display: none;
  margin-top: 20rem;
  @media screen and (max-width: 600px) {
    margin-top: 10rem;
  }
}

.login-icon {
  color: var(--grey);
  &:hover {
    color: var(--deep-red);
  }
}
