<section id="welcome-section" class="welcome-section">
  <h1 class="name">Hi, I'm Ricardo</h1>
  <p class="title">A trainee developer</p>
  <section class="about">
    <p>
      I recently discovered a passion for programming, so for a month I've been
      training myself in HTML and CSS basics in fcc. I plan to take a coding
      bootcamp, learn other languajes and keep gaining experience. My final goal
      is to turn myself into a full-stack web developer, and make a career out
      of programming.
    </p>
    <br />
    <p>
      I will keep updating this page with my comings an goings in the
      programming world, so come join me in my journey to become
      <s>the very best, like no one ever was</s> a web developer.
    </p>
  </section>
</section>
