<section id="about">
  <div class="wrapper">
    <div class="about-container">
      <main class="about-me">
        <div class="about-title">
          <h1>Un poco sobre mi</h1>
        </div>
        <mat-divider class="divider"></mat-divider> <br />
        <div class="text">
          <p>
            Soy Ricardo, un chef, sushiman, gamer que un día quiso cambiar su
            vida y aventurarse en algo que le apasiona "programar" ¿mi meta? Es
            simple, llegar a ser un gran programador, en estos dos años de
            capacitación he descubierto un mundo de posibilidades y eso me ha
            motivado a querer más. Una de mis aspiraciones, siempre ha sido
            crear un videojuego y considero que todo lo que he aprendido en
            estos años me ayudaran a lograrlo. En este tiempo de capacitación he
            podido aventurarme en diferentes tecnologías que me han gustado,
            emocionado y divertido al trabajarlas. Algo que me ha gustado es la
            librería react y el framework Angular, ya que estoy inclinándome más
            hacia el frontend sin embargo soy una persona que siempre esta en
            busca de conocimiento y no me limito, por lo que ahora quiero
            profundizar más en el backend, que es algo que me genera mucho
            interés.
          </p>
        </div>
      </main>
      <aside>
        <div class="skills-wrapper">
          <div class="skills-container">
            <div class="skills">
              <div class="details">
                <span>Front-end</span>
              </div>
              <div class="bar">
                <div id="Front-bar"></div>
              </div>
            </div>
            <div class="skills">
              <div class="details">
                <span>Back-end</span>
              </div>
              <div class="bar">
                <div id="Back-bar"></div>
              </div>
            </div>
            <div class="skills">
              <div class="details">
                <span>ReactJs</span>
              </div>
              <div class="bar">
                <div id="React-bar"></div>
              </div>
            </div>
            <div class="skills">
              <div class="details">
                <span>Angular</span>
              </div>
              <div class="bar">
                <div id="Angular-bar"></div>
              </div>
            </div>
            <div class="skills">
              <div class="details">
                <span>Sql</span>
              </div>
              <div class="bar">
                <div id="Sql-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
