footer {
  background-color: var(--black);
  padding: 20px;
}

.design {
  color: var(--white);
  transition: all 0.5s;
  font-style: italic;
  &:hover {
    color: var(--deep-red);
  }
}

.avatar {
  background-image: url("../../../assets/photos/profilePicAvatar.jpg");
  background-size: cover;
  height: 35px;
  width: 35px;
}
