section {
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #0885a5 32px
    ),
    repeating-linear-gradient(#00c3e3, #00c3e3);
  background-color: #0885a5;
  border-bottom: 2px solid var(--grey);
  width: 100%;
  padding: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (max-width: 980px) {
    padding: 30px;
  }
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
}

.divider {
  border-top-color: var(--black);
  border-top-width: 0.5rem;
}

.projects-title {
  display: flex;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

.code {
  color: var(--white);
  transition: color 0.4s ease-out;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  height: 50%;

  @media screen and (max-width: 980px) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
  }
}

.col {
  margin-top: 20px;
  height: 200px;
  @media screen and (max-width: 900px) {
    height: 150px;
  }
}

.card {
  max-width: 250px;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  @media screen and (max-width: 600px) {
    height: 150px;
  }

  & .glass {
    background: rgba(34, 31, 36, 0.3);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }

  &:hover {
    transform: translate(3px, -3px);
    border: 2px solid var(--deep-red);
  }
}

.card-title-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-title {
  transition: all 0.5s;
  cursor: pointer;
  &:hover {
    color: var(--deep-red);
  }
}

.card-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  & .icon {
    padding: 5px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      opacity: 1;
      color: var(--deep-red);
    }
  }
}

.modal-content {
  background-color: var(--deep-red);
  padding: 10px;

  & label {
    width: 100%;
    font-weight: bold;
  }

  & .input-container {
    width: 100%;
  }
}
