<div class="projects">
  <h2 class="project-header">Mis primeros proyectos</h2>
  <mat-grid-list cols="1" rowHeight="80px">
    <mat-grid-tile *ngFor="let project of projects">
      <a href="{{ project.link }}" target="_blank">
        <img class="project-img" src="{{ project.img }}" />
        <p class="project-title">
          <span class="code">&lt;</span> {{ project.name }}
          <span class="code">&#47;&gt;</span>
        </p>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
