<section id="projects">
  <div class="projects-container">
    <div class="wrapper">
      <div class="projects-title"><h1>Mis primeros proyectos</h1></div>
      <mat-divider class="divider"></mat-divider>
      <br />
      <div class="project-grid">
        <div *ngFor="let project of projects">
          <div class="card-container">
            <img mat-card-avatar class="project-img" src="{{ project.img }}" />
            <a href="{{ project.link }}" target="_blank">
              <p class="project-name">
                <span class="code">&lt;</span> {{ project.name }}
                <span class="code">&#47;&gt;</span>
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
