<section id="projects">
  <div class="projects-container">
    <div class="wrapper">
      <div class="projects-title"><h1>Mis primeros proyectos</h1></div>
      <mat-divider class="divider"></mat-divider>
      <br />
      <div class="project-grid">
        <div *ngFor="let project of projects">
          <div class="card-container">
            <a href="{{ project.link }}" target="_blank">
              <mat-card class="card">
                <mat-card-title class="card-title"
                  ><span class="code">&lt;</span> {{ project.nombre }}
                  <span class="code">&#47;&gt;</span></mat-card-title
                >
                <img mat-card-image class="" src="{{ project.img }}" />
              </mat-card>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
