section {
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #0885a5 32px
    ),
    repeating-linear-gradient(#00c3e3, #00c3e3);
  background-color: #0885a5;

  border-bottom: 2px solid var(--grey);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  padding: 0 20px 0 20px;
}

.divider {
  border-top-color: var(--black);
  border-top-width: 0.5rem;
}

.projects-title {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3rem;
}

.code {
  color: var(--white);
  transition: color 0.4s ease-out;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  height: 50%;
  @media screen and (max-width: 980px) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  transition-property: box-shadow margin-top;
  transition-duration: 0.1s;
}

.card {
  max-width: 250px;
  border-radius: 10px;
  transition: all 0.5s;
  background: rgba(65, 69, 72, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  @media screen and (max-width: 600px) {
    height: 150px;
  }

  & .card-title {
    display: flex;
    justify-content: center;
    font-style: italic;
    margin-top: 10px;
    transition: all 0.5s;
    font-size: small;
    width: 100%;
    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  & img {
    object-fit: cover;
    padding: 20px;
    width: 100%;
    @media screen and (max-width: 600px) {
      padding: 20px;
    }
  }

  & p {
    text-align: center;
  }

  &:hover {
    transform: translate(3px, -3px);
    border: 2px solid var(--deep-red);
    opacity: 1;

    .code {
      color: var(--deep-red);
    }
  }
}
