<section>
  <div class="wrapper">
    <main>
      <div class="text-title">
        <h1>Mis habilidades y experiencia</h1>
      </div>
      <mat-divider class="divider"></mat-divider> <br />
      <div class="text">
        <p>
          En estos últimos dos años me he estado capacitando de manera autónoma
          html y css en freecodecamp, he aprendido a trabajar en frontend con
          React, procesadores de css como sass y librerias como Styled
          components, boostrap y redux toolkit en el bootcamp de Nucba. Y
          recientemente estoy cursando en ArgentinaPrograma en donde he
          aprendido a trabajar con el framework Angular y su módulo angular
          material para el frontend y en backend con SQL y MySQL para el
          almacenamiento y procesamiento de datos; incluso un poco de jwt para
          la transmisión de información de forma segura.
        </p>
      </div>
    </main>
    <aside>
      <div class="tec-container">
        <div *ngFor="let tecnologia of tecnologias">
          <p class="tec-name">
            <span class="code">&lt;</span> {{ tecnologia.nombre }}
            <span class="code">&#47;&gt;</span>
          </p>
          <div class="card-icons">
            <fa-icon
              [icon]="faPen"
              data-bs-toggle="modal"
              data-bs-target="#tecModal"
              (click)="selectTec(tecnologia)"
              class="icon"
            ></fa-icon>
            <fa-icon
              [icon]="faTrashCan"
              (click)="borrarTec(tecnologia.id)"
              class="icon"
            ></fa-icon>
          </div>
        </div>
        <p
          class="tec-name new-tec"
          data-bs-toggle="modal"
          data-bs-target="#tecModal"
          (click)="newTec()"
        >
          <span class="code">&lt;</span> nueva +
          <span class="code">&#47;&gt;</span>
        </p>
      </div>

      <div class="icon-list">
        <fa-icon [icon]="faHtml5" size="lg"></fa-icon>
        <fa-icon [icon]="faCss3" size="lg"></fa-icon>
        <fa-icon [icon]="faJs" size="lg"></fa-icon>
        <fa-icon [icon]="faReact" size="lg"></fa-icon>
        <fa-icon [icon]="faAngular" size="lg"></fa-icon>
        <fa-icon [icon]="faSass" size="lg"></fa-icon>
        <fa-icon [icon]="faGit" size="lg"></fa-icon>
        <fa-icon [icon]="faDatabase" size="lg"></fa-icon>
        <fa-icon [icon]="faPaintbrush" size="lg"></fa-icon>
        <fa-icon [icon]="faPowerOff" size="lg"></fa-icon>
      </div>
    </aside>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="tecModal"
    tabindex="-1"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    role="dialog"
    aria-labelledby="modalTitleId"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
      role="document"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h3 *ngIf="!isUpdate" class="modal-title" id="modalTitleId">
            Nueva tecnología
          </h3>
          <h3 *ngIf="isUpdate" class="modal-title" id="modalTitleId">
            Editar Tecnología
          </h3>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="tecForm">
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">Nombre</label>
              <div class="col-sm-10 input-container">
                <input
                  type="text"
                  class="form-control"
                  formControlName="nombre"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            *ngIf="!isUpdate"
            type="submit"
            class="btn btn-success"
            data-bs-dismiss="modal"
            (click)="agregarTec()"
          >
            Guardar
          </button>
          <button
            *ngIf="isUpdate"
            type="submit"
            class="btn btn-warning"
            (click)="editarTec()"
            data-bs-dismiss="modal"
          >
            Actualizar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
