<section>
  <div class="wrapper">
    <main>
      <div class="text-title">
        <h1>Mis habilidades y experiencia</h1>
      </div>
      <mat-divider class="divider"></mat-divider> <br />
      <div class="text">
        <p>
          En estos últimos dos años me he estado capacitando de manera autónoma
          html y css en freecodecamp, he aprendido a trabajar en frontend con
          React, procesadores de css como sass y librerias como Styled
          components, boostrap y redux toolkit en el bootcamp de Nucba. Y
          recientemente estoy cursando en ArgentinaPrograma en donde he
          aprendido a trabajar con el framework Angular y su módulo angular
          material para el frontend y en backend con SQL y MySQL para el
          almacenamiento y procesamiento de datos; incluso un poco de jwt para
          la transmisión de información de forma segura.
        </p>
      </div>
    </main>
    <aside>
      <div class="tec-container">
        <div *ngFor="let tecnologia of tecnologias">
          <p class="tec-name">
            <span class="code">&lt;</span> {{ tecnologia.nombre }}
            <span class="code">&#47;&gt;</span>
          </p>
        </div>
      </div>

      <div class="icon-list">
        <fa-icon [icon]="faHtml5" size="lg"></fa-icon>
        <fa-icon [icon]="faCss3" size="lg"></fa-icon>
        <fa-icon [icon]="faJs" size="lg"></fa-icon>
        <fa-icon [icon]="faReact" size="lg"></fa-icon>
        <fa-icon [icon]="faAngular" size="lg"></fa-icon>
        <fa-icon [icon]="faSass" size="lg"></fa-icon>
        <fa-icon [icon]="faGit" size="lg"></fa-icon>
        <fa-icon [icon]="faDatabase" size="lg"></fa-icon>
        <fa-icon [icon]="faPaintbrush" size="lg"></fa-icon>
        <fa-icon [icon]="faPowerOff" size="lg"></fa-icon>
      </div>
    </aside>
  </div>
</section>
