section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--deep-red);
  width: 100%;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 20px 0 20px;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.text-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  @media screen and (max-width: 600px) {
    justify-content: center;
  }
}

h1 {
  font-size: 3rem;
  @media screen and (max-width: 600px) {
    font-size: 1.9rem;
  }
}

.divider {
  border-top-color: var(--black);
  border-top-width: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.text {
  margin-top: 30px;
  text-align: left;
  @media screen and (max-width: 600px) {
    margin-top: 3px;
    text-align: center;
  }
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

aside p {
  font-size: 1.6rem;
  @media screen and (max-width: 600px) {
    font-size: 1.3rem;
  }
}

.code {
  color: var(--black);
}

.tec-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-bottom: 20px;
}

.icon-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid var(--black);
  padding-top: 10px;
}

fa-icon {
  &:hover {
    color: var(--deep-blue);
  }
}
