<section>
  <div class="wrapper">
    <div class="text-container">
      <main>
        <div class="text-title">
          <h2>Mis habilidades y experiencia</h2>
        </div>
        <mat-divider class="divider"></mat-divider> <br />
        <div class="text">
          <p>
            I recently discovered a passion for programming, so for a month I've
            been training myself in HTML and CSS basics in fcc. I plan to take a
            coding bootcamp, learn other languajes and keep gaining experience.
            My final goal is to turn myself into a full-stack web developer, and
            make a career out of programming.
          </p>
          <br />
          <p>
            I will keep updating this page with my comings an goings in the
            programming world, so come join me in my journey to become
            <s>the very best, like no one ever was</s> a web developer.
          </p>
        </div>
      </main>
      <aside>
        <div class="skills-wrapper">
          <div class="skills-container">
            <div class="skills">
              <div class="details">
                <span>Front-end</span>
              </div>
              <div class="bar">
                <div id="Front-bar"></div>
              </div>
            </div>
            <div class="skills">
              <div class="details">
                <span>Back-end</span>
              </div>
              <div class="bar">
                <div id="Back-bar"></div>
              </div>
            </div>
            <div class="skills">
              <div class="details">
                <span>ReactJs</span>
              </div>
              <div class="bar">
                <div id="React-bar"></div>
              </div>
            </div>
            <div class="skills">
              <div class="details">
                <span>Angular</span>
              </div>
              <div class="bar">
                <div id="Angular-bar"></div>
              </div>
            </div>
            <div class="skills">
              <div class="details">
                <span>Sql</span>
              </div>
              <div class="bar">
                <div id="Sql-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
